.App {
  text-align: center;
}

.DropzoneWrap {
  width: 200px;
  height: 200px;
  margin: auto;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}

.DropzoneBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.FormGroupWrap {
  display: flex;
}

.FormGroupLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100px;
}

.SubmitButton {
  margin-top: 20px;
}
